@import "../../foundation/setting";
@import "../../foundation/mixin";
@import "compass/css3";

.p-home_top_title{
  text-align:center;
  color:$finc_color;
  margin:10px 0 6px;
}
.p-home_list_title{
  color:$base_font_color;
  font-size:18px;
  margin:5px 0 10px;
  &:before{
    content: "";
    float:left;
    width:18px;
    height:18px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
  }
}
.p-home_list_title_category{
  @extend .p-home_list_title;

  &:before{
    background-image:url(asset-path("users/category_icon.png"));
    margin-left:5px;
  }
}
.p-home_list{
  border-bottom:1px solid $base_border_color;
  padding:10px 4px 10px 4px;
  .p-home_top{
    width:100%;
    .p-home_top_image{
      width:100%;
      padding:5px 0 5px;
    }
  }
  .p-home_category_lists{
    width:100%;
    margin-bottom:15px;
    overflow:hidden;
    .p-home_category_lists_wrapper{
      position: relative;
      width:45%;
      height:100%;
      margin:6px 2% 6px 2%;
      padding:4px 0 4px;
      float:left;
      @include box-shadow(rgba(0, 0, 0, .4) 0 0 2px);

      .p-home_category_list_before{
        width:18%;
        height:35px;
        float:left;
        color: $finc_color;
        margin-left:4%;
        vertical-align: middle;
        .p-home_category_image{
          height:25px;
          margin-top:5px;
        }
      }
      .p-home_category_list{
        @extend .p-home_category_list_before;
        float:right;
        width:60%;
        font-size:14px;
        text-align:center;
        padding-right: 12%;
        vertical-align: middle;
        line-height: 35px;
        text-align: center;
      }
    }
    .p-home_category_list_center{
      margin:0 auto;
      margin-left: 27%;
      margin-top:5px;
      @extend .p-home_category_list;
    }
  }
}
.p-home_ranking_wrapper{
  height:228px;
  width:100%;
  .p-home_slides_ranking_wrapper{
    height:185px;
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    padding-top:10px;
    .p-home_slides_ranking_images{
      width:900px;
      height:100%;
      .p-home_slides_ranking_unit{
        position:relative;
        float:left;
        width:180px;
        height:180px;
        img{
          width:100%;
          height:100%;
          border-left:1px solid $base_border_color;
          &:last-child{
            border-right:1px solid $base_border_color;
          }
        }
      }
    }
  }
}
.p-home_slides_ranking_title{
  @extend .p-home_list_title;
  padding-top:10px;
  &:before{
    background-image:url(asset-path("users/ranking_icon.png"));
    margin-left:7px;
    padding-right:1px;
  }
}
.p-home_android_ranking_wrapper{
  padding:0 4px 0 4px;
  .p-home_android_slides_ranking_wrapper{
    width:100%;
    .p-home_android_slides_ranking_left{
      height:185px;
      width:50%;
      float:left;
      img {
        width:100%;
        height:100%;
      }
    }
    .p-home_android_slides_ranking_right{
      height:185px;
      width:50%;
      float:right;
      img {
        width:100%;
        height:100%;
      }
    }
  }
}
