@import "../../foundation/setting";
@import "../../foundation/mixin";
.p-lists{
  background-color:white;
  width:100%;
  margin-bottom:30px;
  margin-left:0px;
  .p-list{
    width:100%;
    min-height:42px;
    overflow:hidden;
    border:1px solid $base_border_color;
    border-radius:5px;
    color:$base_font_color;
    &:first-child{
      padding-bottom:10px;
    }
    .p-list__fincrew{
      margin-left:4px;
      width:50px;
      height:50px;
      img{
        width:100%;
      }
    }
    .p-list__fincrew_description{
      font-size:13px;
      padding:5px 4px 10px 4px;
    }
    .p-list__description{
      font-size:13px;
      margin:10px 4px 10px 4px;
    }
    .p-list__fincrew_buttun{
      margin-left:10px;
      margin-top:10px;
    }
    &:first-child{
      margin-bottom:20px;
    }
  }
}
