@import "../../foundation/setting";
@import "../../foundation/mixin";
.p-lists__title{
  padding-top:25px;
  padding-bottom:5px;
}
.p-lists__title_without_padding{
  padding-bottom:5px;
}
.p-lists{
  background-color:white;
  width:100%;
  margin-left:0px;
  .p-list{
    width:100%;
    min-height:42px;
    overflow:hidden;
    border:1px solid $base_border_color;
    border-radius:5px;
    color:$base_font_color;
    .p-list__fincrew{
      margin-left:4px;
      margin-bottom:10px;
      width:50px;
      height:50px;
      img{
        width:100%;
      }
    }
    .p-list__fincrew_description{
      font-size:13px;
      @include calc("width", "100% - 8px");
      margin-left:4px;
      margin-bottom:10px;
      line-height:1.3em;
    }
    .p-list__description{
      font-size:13px;
      padding:10px 0 10px;
      @include calc("width", "100% - 8px");
      margin-left:4px;
      line-height:1.3em;
    }
    .p-list__fincrew_buttun{
      margin-left:10px;
    }
  }
  .p-list__image{
    @extend .p-list;
    padding-bottom:10px;
  }
}
