.p-payment_method_selections{
  background-color:white;
  width:100%;
  border:1px solid $base_border_color;
  border-radius:5px;
  margin-left:-1px;
  .p-payment_method_selection{
    @include calc("width", "100%-15px");
    min-height:42px;
    padding-left:15px;
    padding-right:15px;
    border-bottom:1px solid $base_border_color;
    color:$base_font_color;
    overflow:hidden;
    .p-payment_method_selection__radio{
      width:32px;
      height:19px;
      float:left;
      padding-top:11px;
    }
    .p-payment_method_selection__title{
      width:82px;
      line-height:42px;
      height:42px;
      font-weight:bold;
      color:$base_font_color;
      float:left;
    }
    .p-payment_method_selection__price{
      color:$base_font_color;
      line-height:42px;
      height:42px;
      float:left;
    }
    .p-payment_method_selection__attention{
      width:100%;
      font-size:13px;
      float:left;
      padding-bottom:10px;
    }
    &:last-child{
      border-bottom:none;
    }
    .p-payment_method__detail{
      width:100%;
      height:40px;
      float:left;
      display:none;
      p{
        min-width:40px;
        height:40px;
        line-height:40px;
        float:left;
      }
      .p-payment_method__amount{
        border:1px solid $finc_color;
        border-radius:5px;
        width:45px;
        height:30px;
        margin-top:5px;
        padding-left:5px;
        font-size:15px;
        color:$base_font_color;
        margin-top:5px;
        float:left;
      }
      &.is-active{
        display:block;
      }
    }
    span{
      line-height:15px;
      font-size:12px;
      margin-top:6px;
      float:left;
    }
  }
}
