<div class="content-header">
  <h3>
    弁当発送管理（※注文・商品毎管理）
  </h3>
</div>
<section class="content col-md-10">
  <h4 class="box-title"><%= @title %></h4>
  <%= render partial: 'table', locals: {shipments: @shipments} %>
</section>
<section>
  <%= render partial: 'nav', locals: {} %>
</section>
