<section class="content-header">
  <h1>クレジット払い管理</h1>
</section>
<section class="content">
  <h4 class="box-title">注文リスト</h4>
  <table class="table c-table">
    <thead>
      <tr>
        <th>支払い日</th>
        <th>注文番号</th>
        <th>ステイタス</th>
        <th>支払い方法</th>
        <th>名前</th>
        <th>合計金額</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a href="<%= %>" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
