.c-table{
  word-break: break-all;
  .thumb{
    width:100px;
  }
  white-space: nowrap;
  td.message{
    white-space: normal;
  }
}
.icheckbox_minimal, .iradio_minimal {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,0.7) url(asset-path("admins/iCheck/minimal/minimal.png")) no-repeat;
  border: none;
  cursor: pointer;
}
.icheckbox_minimal.checked {
    background-position: -40px 0;
}
