@import "../../foundation/setting";
.u-base_font_color{
  color:$base_font_color;
}
.u-white_font_color{
  color:white;
}
.u-finc_font_color{
  color:$finc_color;
}
.u-font_size_small{
  font-size:10px;
}
