.u-margin__top5{
  margin-top:5px;
}
.u-margin__top10{
  margin-top:10px;
}
.u-margin__top25{
  margin-top:25px;
}
.u-margin__left_short{
  margin-left:4px;
}
.u-margin__right_short{
  margin-right:4px;
}
.u-margin__left50{
  margin-left:50px;
}
.u-margin__bottom_middle{
  margin-bottom:20px;
}
.u-margin__bottom_large{
  margin-bottom:50px;
}
.u-margin__bottom5{
  margin-bottom:5px;
}
.u-margin__bottom10{
  margin-bottom:10px;
}