<section class="content-header">
<h1>後払い管理</h1>
</section>
<section class="content col-md-9">
<h3>未審査一覧</h3>

<%= render partial: 'post_payment_table', locals: {} %>

</section>

<%= render partial: "post_payment_status_bar" %>
