@import "../foundation/setting";
@import "../foundation/mixin";
#form{
  padding:20px 5px;
  h2{
    font-size:20px;
    color:$base_font_color;
    font-weight:bold;
  }
  label{
    width:100%;
    color:$base_font_color;
    display:block;
  }
  .form__text--long{
    @include calc(width, "98% - 2px");
    border:1px solid $base_border_color;
    font-size:18px;
    height:30px;
    margin-top:5px;
    padding-left:2%;
    border-radius:5px;
    color:$base_font_color;
  }
  .form__text--short{
    @include calc(width, "40% - 2px");
    border:1px solid $base_border_color;
    font-size:18px;
    height:30px;
    margin-top:5px;
    padding-left:2%;
    border-radius:5px;
    color:$base_font_color;
    clear:both;
  }
  .form__field{
    overflow:hidden;
    padding-top:15px;
    a{
      width:100%;
      min-height:10px;
      overflow:hidden;
      display:block;
    }
  }
  i{
    font-size:12px;
    color:$base_font_color;
  }
  .form__textarea--long{
    @include calc(width, "98% - 2px");
    border:1px solid $base_border_color;
    font-size:18px;
    height:300px;
    margin-top:5px;
    padding-left:2%;
    border-radius:5px;
    color:$base_font_color;
  }
}
.field_with_errors {
  .form__text--long{
    background-color: #FFCCCC;
  }
}
.error_highlight{
  background-color: #FFCCCC;
}
