@import "../foundation/setting";

.sidebar{
  position: absolute;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100%;
  background-color:rgb(250,250,250);
  li.sidebar_lists{
    height:42px;
    line-height:42px;
    padding-left:5px;
  }
  li#sidebar_title{
    @extend .sidebar_lists;
    text-align:center;
    border-bottom:1px solid $finc_color;
  }
  li.sidebar_rules{
    @extend li.sidebar_lists;
    border-top:1px solid $finc_color;
  }
  div.sidebar_lists_left{
    float:left;
    height:42px;
    width:80%;
    padding-left:10px;
  }
  div.sidebar_lists_right{
    float:right;
    height:42px;
    width:25px;
    margin-right:8px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    background-image:url(asset-path("users/icon_next_big.png"));
  }
}
