<h2>FiNCストア利用のご案内</h2>
<h3>お支払い方法について</h3>
<div>クレジットカード支払いが可能です</div>
<h3>ポイントについて</h3>
<div>
  ポイントは１ポイント１円として、FiNCストア内の商品購入に利用できます。<br>
  ポイントの有効期限は、最後にポイントを獲得した月を含めた一年間です。<br>
  最後にポイントを獲得した月を含めた一年間に新たなポイントを獲得しない場合、ポイントは失効します。<br>
  一年間に一度でもポイントを獲得すれば、ポイントの有効期限が切れることはありません。<br>
  ※期間限定ポイントは、上記期間とは異なります。
</div>
<h3>送料について</h3>
<div></div>
<h3>送料について</h3>
<div>
  送料は、１回のお買い物における商品代金の合計が10000円（税抜）以上の場合は無料、10000円（税抜）未満の場合は全国一律10000円（税抜）となっております。
</div>
<h3>商品の返品・交換について</h3>
<div>以下の場合に返品を受け付けます。
  ・お客様が誤って注文し、弊社発送前にキャンセルの旨を弊社に連絡頂いた場合
  ・注文内容と異なる商品が届いた場合
  ・商品に不備があったり、破損していた場合

  返品が必要な場合には、商品到着後、10日以内にお客様より返品をしたい旨の連絡を行うことが必要となります。

  ※ 商品発送後のお客様都合による返品は不可となります。
</div>
<h3>返品の手順について</h3>
<div>返品の流れ
  1. メール もしくは TEL にて返品希望の旨、返品の理由を弊社まで事前にお知らせください。
  2. その後、お手数ですが着払いで弊社まで返送をお願い致します。
</div>
  <h3>送料について</h3>
<div></div>
