<div class="p-guaidance_wrapper">
  <h2 class="p-guaidance_title">FiNCストア利用のご案内</h2>
  <h3 class="p-guaidance_index">お支払い方法について</h3>
  <div class="p-guaidance_contents">クレジットカード支払いが可能です</div>
  <h3 class="p-guaidance_index">ポイントについて</h3>
  <div class="p-guaidance_contents">
    ポイントは１ポイント１円として、FiNCストア内の商品購入に利用できます。<br>
    ポイントの有効期限は、最後にポイントを獲得した月を含めた一年間です。<br>
    最後にポイントを獲得した月を含めた一年間に新たなポイントを獲得しない場合、ポイントは失効します。<br>
    一年間に一度でもポイントを獲得すれば、ポイントの有効期限が切れることはありません。<br>
    ※期間限定ポイントは、上記期間とは異なります。<br>
  </div>

  <h3 class="p-guaidance_index">送料について</h3>
  <div class="p-guaidance_contents">
    送料は、１回のお買い物における商品代金の合計が10000円（税抜）以上の場合は無料、10000円（税抜）未満の場合は全国一律10000円（税抜）となっております。
  </div>
  <h3 class="p-guaidance_index">商品の返品・交換について</h3>
  <div class="p-guaidance_contents">
    <ul class="p-guaidance_lists">
      以下の場合に返品を受け付けます。
      <li>お客様が誤って注文し、弊社発送前にキャンセルの旨を弊社に連絡頂いた場合。</li>
      <li>注文内容と異なる商品が届いた場合。</li>
      <li>商品に不備があったり、破損していた場合。</li>
      <li>返品が必要な場合には、商品到着後、10日以内にお客様より返品をしたい旨の連絡を行うことが必要となります。</li>
      <li>※ 商品発送後のお客様都合による返品は不可となります。</li>
    </ul>
  </div>

  <h3 class="p-guaidance_index">返品の手順について</h3>
  <div class="p-guaidance_contents">
    <ul class="p-guaidance_lists_number">
      返品の流れ
      <li>メール もしくは TEL にて返品希望の旨、返品の理由を弊社まで事前にお知らせください。</li>
      <li>その後、お手数ですが着払いで弊社まで返送をお願い致します。</li>
    </ul>
    <ul class="p-guaidance_lists">
      ご連絡先
      <li>メール: info@finc.co.jp</li>
      <li>TEL : 03-6264-3401</li>
    </ul>
    <p class="p-guaidance_comment">※大変お手数ですが、「ご注文者様名」「お電話番号」「返品商品」「返品理由」をご記載くださいませ。</p>
    <ul class="p-guaidance_lists">
      返送先住所
      <li>中央区銀座3-9-6銀座マトリックスビル5F 株式会社FiNC FiNCストア返品 宛</li>
    </ul>
    <ul class="p-guaidance_lists">
      返金方法
      <li>支払い時の方法に準拠します。</li>
      <li>クレジットカードへの返金処理が行われます。</li>
    </ul>
  </div>

  <h3 class="p-guaidance_index">お問い合わせ</h3>
  <div class="p-guaidance_contents">
    <ul class="p-guaidance_lists">
      FiNCストアに関するお問い合わせ先は以下となっております。<br>
      <li>メール : info@finc.co.jp</li>
      <li>営業時間: 月〜金 10:00〜17:00</li>
  </div>
</div>