<a href="<%= product_path(1) %>">
  <div class="c-product">
    <%= image_tag "users/sample_item_01.png", class: "c-product__image" %>
    <div class="c-product__left_wrapper">
      <div class="c-product__title">
        サプリメント
      </div>
      <div class="c-product__price">
        <p class="c-product__price_title">定期購買　</p>
        <p class="c-item__price_value">￥0,000</p>
      </div>
      <div class="c-product__price">
        <p class="c-product__price_title">単品購買　</p>
        <p class="c-product__price_value">￥0,000</p>
      </div>
    </div>
    <div class="c-product__right_wrapper">
    </div>
  </div>
</a>
