<a href="">
  <div class="c-category_select">
    全てのカテゴリ
  </div>
</a>
<% @products.each do |product| %>
  <% if !(product.prices.pluck("amount")).blank? %>
    <% if product.images.present? %>
      <%= render partial: 'users/products/product', locals: {p: product} %>
    <% end %>
  <% end %>
<% end %>
