<div class="c-top_notice">
  全てのカテゴリ
</div>
<% @products.each do |product| %>
  <%= render partial: 'users/products/product', locals: {product: product} %>
<% end %>
<div class="c-pager"><%= paginate(@products) %></div>
