<a href=<%= taxons_path(id: 1) %> >
  <div class="c-category_select">
    全てのカテゴリ
  </div>
</a>
<% @products.each do |product| %>
  <%= render partial: 'users/products/product', locals: {product: product} %>
<% end %>
<div class="c-pager"><%= paginate(@products) %></div>