<div id="footer">
  <a id="footer__to_top_link" href="#header">ページトップへ</a>
  <ul class="c-links">
    <a href="">
      <li class="c-link">
        FiNC STORE トップ
      </li>
    </a>
    <a href="">
      <li class="c-link">
        カートを見る
      </li>
    </a>
    <a href="">
      <li class="c-link">
        アカウントサービス
      </li>
    </a>
    <a href="<%= destroy_user_session_path %>" data-method="delete">
      <li class="c-link">
        ログアウト
      </li>
    </a>
  </ul>
</div>
