<div id="header">
  <div id="header__left_wrapper">
    <%= link_to products_path do %>
      <%= image_tag "users/header_logo.png", id: "header__logo" %>
    <% end %>
  </div>
  <div id="header__right_wrapper">
    <div>
      <p><%= Profile.find_by(user_id: current_user.id).try(:name) if current_user.present? %></p>
      <i class="profile"></i>
    </div>
    <div>
      <% @quantity = @order.try(:single_order_detail).try(:item_count) || 0 %>
      <p>カート <%=@quantity%></p>
      <i class="cart"></i>
    </div>
  </div>
</div>
