<div class = "content-header">
  <h3>
    <%= link_to "商品一覧", admins_products_path %> / <%= @product.name %>
    <div class="u-float_right">
      <a href="<%= new_admins_product_variant_path %>" class="btn btn-primary">Variant追加</a>
    </div>
  </h3>
</div>

<%= render partial: 'form', locals: { variant: @variant } %>
