@import "../../foundation/setting";
.c-btn{
  font-size:18px;
  border-radius:5px;
  -webkit-appearance: none;
  text-align:center;
  color:white;
}
.c-btn--submit{
  @extend .c-btn;
  width:100%;
  height:40px;
  line-height:40px;
  background-color:$finc_color;
}
.c-btn--submit--half{
  @extend .c-btn;
  width:48%;
  height:40px;
  line-height:40px;
  background-color:$finc_color;
  margin-left:4%;
  float:left;
}
.c-btn--delete{
  @extend .c-btn;
  width:100%;
  height:40px;
  line-height:40px;
  background-color:$base_border_color;
  float:left;
}
.c-btn--delete--half{
  @extend .c-btn;
  width:48%;
  height:40px;
  line-height:40px;
  background-color:$base_border_color;
  float:left;
}
.c-btn--submit--short{
  @extend .c-btn;
  width:114px;
  height:30px;
  line-height:30px;
  float:right;
  background-color:$finc_color;
}
