@import "../../foundation/setting";
.c-btn{
  font-size:18px;
  border-radius:5px;
  -webkit-appearance: none;
  text-align:center;
  color:white;
}
.c-btn--submit{
  @extend .c-btn;
  width:100%;
  height:40px;
  line-height:40px;
  background-color:$finc_color;
}
.c-btn--submit--half{
  @extend .c-btn;
  width:48%;
  height:40px;
  line-height:40px;
  background-color:$finc_color;
  margin-left:4%;
  float:left;
}
.c-btn--delete{
  @extend .c-btn;
  width:100%;
  height:40px;
  line-height:40px;
  background-color:$base_border_color;
  float:left;
}
.c-btn--delete--half{
  @extend .c-btn;
  width:48%;
  height:40px;
  line-height:40px;
  background-color:$base_border_color;
  float:left;
}
.c-btn--submit--short{
  @extend .c-btn;
  width:124px;
  height:30px;
  line-height:30px;
  float:right;
  background-color:$finc_color;
}
.c-btn--submit--single{
}
.c-btn--product--detail{
  font-size:18px;
  border-radius:5px;
  -webkit-appearance: none;
  text-align:center;
  padding-left:12px;
  color:$finc-color;
  border: 1px solid $finc-color;
  margin: 0 auto;
  width:120px;
  font-size:16px;
  height:30px;
  line-height:30px;
  background-color:#FFF;
  &:after{
    content: "";
    float:right;
    margin-top:9px;
    margin-right:3px;
    width:12px;
    height:12px;
    background-image:url(asset-path("users/finc_arrow.png"));
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    vartical-align:middle;
  }
}