@import "../../foundation/setting";
@import "../../foundation/mixin";
.c-category_select{
  @include calc("width", "100%-22px");
  height:30px;
  padding-left:22px;
  background-color:rgb(197,197,197);
  color:$base_font_color;
  line-height:30px;
  &:before{
    content: "";  
    display: block;  
    width:21px;
    height:22px;
    position:absolute;
    margin-top:4px;
    left:3px;
    background-image:url(asset-path("users/icon_back.png"));
    background-size:contain;
    background-repeat:no-repeat;
  }
}
