@import "../../foundation/setting";
@import "../../foundation/mixin";
.c-links__title{
  font-size:18px;
  padding-top:25px;
  padding-bottom:5px;
  color:$base_font_color;
}
.c-links_wrapper{
  margin-bottom:30px;
}
.c-links{
  background-color:white;
  width:100%;
  border:1px solid $base_border_color;
  border-radius:5px;
  margin-left:-1px;
  .c-link_base{
    @include calc("width", "100% - 15px");
    height:42px;
    line-height:42px;
    padding-left:15px;
    border-bottom:1px solid $base_border_color;
    color:$base_font_color;
  }
  .c-link{
    @extend .c-link_base;
    &:after{
      content: "";
      display: block;
      width:21px;
      height:22px;
      position:absolute;
      margin-top:-32px;
      right:9px;
      background-image:url(asset-path("users/icon_next.png"));
      background-size:contain;
      background-repeat:no-repeat;
    }
  }
  .c-link--nolink{
    @extend .c-link_base;
    &:last-child{
      border-bottom:none;
    }
  }
  .c-link--small_text--nolink{
    @extend .c-link_base;
    line-height:14px;
    font-size:12px;
    span{
      margin-top:6px;
      float:left;
    }
    label{
      margin-top:6px;
      float:left;
    }
  }
  .c-link--small_text{
    @extend .c-link_base;
    line-height:14px;
    font-size:12px;
    span{
      margin-top:6px;
      float:left;
    }
    &:after{
      content: "";
      display: block;
      width:21px;
      height:22px;
      position:absolute;
      margin-top:10px;
      right:9px;
      background-image:url(asset-path("users/icon_next.png"));
      background-size:contain;
      background-repeat:no-repeat;
    }
  }
  .c-link__radio_div{
    width:32px;
    height:19px;
    float:left;
    padding-top:11px;
    input{
      float:left;
    }
  }
  a{
    &:last-child{
      li{
        border-bottom:none;
      }
    }
  }
}
.js-cresit{
  display:none;
}
