.c-order_title{
  width:100%;
	height:40px;
	color:$base_font_color;
	border-top:1px solid $finc_color;
	border-bottom:1px solid $finc_color;
	margin-top:20px;
  p{
    font-size:12px;
    padding-top:6px;
    padding-left:12px;
    line-height:15px;
    float:left;
  }
}
