@import "../../foundation/setting";
.c-payment_method_section{
  width:100%;
  height:40px;
  line-height:40px;
  color:$base_font_color;
  border-top:1px solid $finc_color;
  border-bottom:1px solid $finc_color;
  margin-top:20px;
}
