@import "../../foundation/setting";
.c-product{
  width:100%;
  min-height:10px;
  padding-bottom:5px;
  overflow:hidden;
  .c-product__image{
    width:100%;
  }
  border-bottom:1px solid $base_border_color;
}
.c-product__left_wrapper{
  width:80%;
  padding-left:5px;
  height:58px;
  float:left;
  .c-product__title{
    width:100%;
    font-weight:bold;
    color:$base_font_color;
    margin-top:10px;
    float:left;
  }
  .c-product__price{
    width:100%;
    margin-top:4px;
    float:left;
    .c-product__price_title{
      color:$base_font_color;
      float:left;
    }
    .c-product__price_value{
      color:$finc_color;
      float:left;
    }
    .c-product__stock_quantity{
      float:right;
      color:$finc-color;
    }
  }
}
.c-product__right_wrapper{
  width:25px;
  height:58px;
  margin-right:8px;
  float:right;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  background-image:url(asset-path("users/icon_next_big.png"));
}