@import "../../foundation/setting";
.c-product{
  width:100%;
  overflow:hidden;
  .c-product__image{
    width:100%;
  }
  border-bottom:1px solid $base_border_color;
  .c-product__bottom_wrapper{
    padding:10px 0 10px;
    .c-product__left_wrapper{
      width:80%;
      padding-left:2%;
      display: inline-block;
      vertical-align: middle;
      .c-product__title{
        width:100%;
        word-wrap: break-word;
        font-weight:bold;
        color:$base_font_color;
        float:left;
        padding-bottom:4px;
      }
      .c-product__price_title{
        width:100%;
        color:$base_font_color;
      }
      .c-product__price_value{
        width:100%;
        color:$finc_color;
      }
      .c-product__stock_quantity{
        width:100%;
        padding-top:4px;
        color:$finc-color;
      }
    }
    .c-product__right_wrapper{
      width:15%;
      min-height:32px;
      display:inline-block;
      vertical-align: middle;
      background-size:contain;
      background-repeat:no-repeat;
      background-position:center;
      background-image:url(asset-path("users/icon_next_big.png"));
    }
  }
}
