.c-segments{
  width:100%;
  height:50px;
  border-bottom:1px solid $base_border_color;
  p{
    color:$base_font_color;
    opacity:0.5;
    width:50%;
    text-align:center;
    height:40px;
    line-height:40px;
    margin-top:5px;
    float:left;
    &:first-child{
      margin-left:-2px;
    }
  }
  .border{
    height:40px;
    float:left;
    margin-top:5px;
    border-left:1px solid $finc_color;
  }
  .is--active{
    opacity:1;
    color:$finc_color;
  }
}
