@import "../../foundation/setting";
@import "../../foundation/mixin";
.c-top_notice{
  width:100%;
  height:30px;
  background-color:rgb(197,197,197);
  color:$base_font_color;
  line-height:30px;
  text-align:center;
  margin-bottom:3px;
}