@import "../../foundation/setting";
@import "../../foundation/mixin";
.c-top_notice{
  width:100%;
  height:30px;
  background-color:rgb(234,234,234);
  color:$base_font_color;
  line-height:30px;
  text-align:center;
}
.c-second_top_notice{
  @extend .c-top_notice;
  background-color:rgb(247,247,247);
  font-size:16px;
  padding: 4px 0 4px;
  span.c-second_top_notice_mile{
    color: $finc_color;
    font-size: 22px;
  }
  span.c-second_top_notice_unit{
    font-size:10px;
  }
}
