<table class="table c-table_new">
  <thead>
    <tr>
      <th>支払い日</th>
      <th>注文番号</th>
      <th>ステイタス</th>
      <th>支払い方法</th>
      <th>名前</th>
      <th>合計金額</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <a href="<%= %>" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
      </td>
    </tr>
  </tbody>
</table>
