<section class="content-header">
<h1>注文管理</h1>
</section>
<section class="content col-md-9">
<h4 class="box-title">検索</h4>
<h4 class="box-title">注文リスト</h4>
<h2>注文一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th>支払い日</th>
      <th>注文番号</th>
      <th>ステイタス</th>
      <th>支払い方法</th>
      <th>名前</th>
      <th>合計金額</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <a href="<%= %>" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
      </td>
    </tr>
  </tbody>
</table>
</section>
<section class="content col-md-2 float-right">
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="">注文一覧</a></li>
  <li><a href="<%= unshipped_admins_purchase_orders_path%>">未発送一覧</a></li>
  <li><a href="<%= shipped_admins_purchase_orders_path %>">発送済み一覧</a></li>
</ul>
</section>
</section>
