<section class="content-header">
<h1>発送管理</h1>
</section>
<section class="content col-md-9">
<h4 class="box-title">検索</h4>
<h4 class="box-title">注文リスト</h4>
<h2>注文一覧</h2>

<%= render partial: 'table' %>

</section>

<%= render partial: 'status_bar', locals: {} %>

</section>
