<section class="content-header">
<h1>
  発送管理
</h1>
</section>
<section class="content col-md-9">
<h2>発送済み一覧</h2>
<h3 class="box-title">検索</h3>
<h3 class="box-title">注文リスト</h3>

<%= render partial: 'table' %>

</section>

<%= render partial: 'status_bar', locals: {} %>

</section>
