<div class="p-wrapper--have_padding">
  <h2 class="c-links__title">カテゴリ一覧</h2>
  <ul class="c-links">
    <% @taxons.each do |taxon| %>
      <a href="<%= taxon_path(id: taxon.id) %>">
        <li class="c-link">
          <%= taxon.name %>
        </li>
      </a>
    <% end %>
  </ul>
</div>