<div class="p-wrapper--have_padding">
  <h2 class="c-links__title">ご注文ありがとうございました</h2>
  <div class="c-order_title">
    <p class="number">注文番号:<br><%= @number %></p>
    <p class="amount">合計:<br><%= number_to_jpy(@payment.amount) %></p>
  </div>
  <% item = @items %>
  <%= render partial: 'users/orders/thanks', locals: {item: item} %>
</div>
