<div class="p-wrapper--have_padding">
  <h2 class="c-links__title">ご注文ありがとうございました</h2>
  <div class="c-order_title">
    <p class="c-order-number">注文番号:<br><%= @number %></p>
    <p class="c-order-amount">合計:<br><%= number_to_jpy(@payment.amount) %></p>
    <p class="c-order-amount">使用マイル:<br><%= @payment.used_point %>mile</p>
  </div>
  <% item = @items %>
  <%= render partial: 'users/orders/thanks', locals: {item: item} %>
</div>
