<%= form_tag sent_back_report_orders_path, id: "form" do %>
  <div class="p-wrapper--have_padding">
    <h2>商品の返品</h2>
    <div class="form__field">
      商品の返品に関しましてはこちらからお問い合わせください。
    </div>
    <%= hidden_field_tag :single_order_detail_id, @detail.id %>
    <div class="form__field">
      <%= text_area_tag :message, nil, placeholder:"お問い合せ内容をご入力ください。", class: "form__textarea--long" %>
    </div>
    <div class="form__field">
      <%= submit_tag "登録", class: "c-btn--submit" %>
    </div>
  </div>
<% end %>
