<div class="content col-md-2 float-right">
<ul class="nav nav-pills nav-stacked">
  <li <%= 'class=active' %> ><a href="">洗替予定一覧</a></li>
  <li><a href="">洗替成功一覧</a></li>
  <li><a href="">洗替失敗一覧</a></li>
  <li><a href="">売上計上済み一覧</a></li>
</ul>
</div>
