<div class="col-md-10">
  <table class="table c-table">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>注文コード</th>
        <th>注文日時</th>
        <th>合計金額</th>
        <th>ユーザー名</th>
        <th>合計金額</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a href="<%= %>" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
