<section class="content-header">
  <h1>定期購買</h1>
</section>
<section class="content">
  <h4>洗替一覧</h4>
  <%= render partial: 'table', locals: {} %>
  <%= render partial: 'nav', locals: {} %>
</section>
