<div class="p-guidance_wrapper">
  <h2 class="p-guidance_title">1-click決済とは</h2>

  <h3 class="p-guidance_index">お支払い方法について</h3>
  <div class="p-guidance_contents">クレジットカード支払いが可能です</div>

  <h3 class="p-guidance_index">ウェルネスマイレージについて</h3>
  <div class="p-guidance_contents">
    累計ポイント１pt獲得ごとにウェルネスマイレージが1mile貯まります。その他にもキャンペーン等でマイルが付与されることもあります。<br>
    1mile1円として、FiNCストア内の商品購入に利用できます。<br>
    マイルの有効期限は､購入月又は付与月から5ヶ月後月末とします｡<br>
    有効期限を超えた分は自動的に消去されますので､ご注意ください｡<br>
    ※期間限定マイルは、上記期間とは異なります。
  </div>

  <h3 class="p-guidance_index">マイルの利用上限について</h3>
  <div class="p-guidance_contents">
    １度の購入ごとに、最大で9999mileまでのマイル利用が可能です。<br>
    また、商品ごとにそれぞれマイルの利用上限が設定されている場合がございます。<br>
    なお、送料につきましてはマイル利用対象外となります。
  </div>

  <h3 class="p-guidance_index">送料について</h3>
  <div class="p-guidance_contents">
    送料は、1回のお買い物における商品代金の合計が10000円（税込）以上の場合は無料、10000円（税込）未満の場合は全国一律500円（税込）となっております。
  </div>

  <h3 class="p-guidance_index">商品の返品・交換について</h3>
  <div class="p-guidance_contents">
    <ul class="p-guidance_lists">
      以下の場合に返品を受け付けます。
      <li>お客様が誤って注文し、弊社発送前にキャンセルの旨を弊社に連絡頂いた場合。</li>
      <li>注文内容と異なる商品が届いた場合。</li>
      <li>商品に不備があったり、破損していた場合。</li>
      返品が必要な場合には、商品到着後、10日以内にお客様より返品をしたい旨の連絡を行うことが必要となります。<br>
      ※ 商品発送後のお客様都合による返品は不可となります。<br>
    </ul>
  </div>

  <h3 class="p-guidance_index">返金時のマイルの扱いについて</h3>
  <div class="p-guidance_contents">
    <ul class="p-guidance_lists">
      マイルを利用して購入した商品を返金する場合には、まずはご利用いただいた分のマイルを返還し、お支払い総額と返還したマイルとの差額が発生する場合は返金を行います。<br>
      例）A商品(100円)＋B商品(10,000円)を購入。うち200mile使用した場合。
      <li>1. 商品Aをキャンセル→100mileをお返し</li>
      <li>2. 商品Bをキャンセル→200mile＋9,800円の返金</li>
      <li>ただし10,000円未満は送料が発生するため、カードから追加で送料500円分の引き落とし処理となります。</li>
      <li>送料につきましてはマイル利用対象外となります。</li>
    </ul>
  </div>

  <h3 class="p-guidance_index">返品の手順について</h3>
  <div class="p-guidance_contents">
    <ul class="p-guidance_lists_number">
      <li>メール もしくは TEL にて返品希望の旨、返品の理由を弊社まで事前にお知らせください。</li>
      <li>注文履歴ページの返品フォームに記入していただくことも可能です。</li>
      <li>その後、お手数ですが着払いで弊社まで返送をお願い致します。</li>
    </ul>
    <ul class="p-guidance_lists">
      ご連絡先
      <li>メール: info@finc.co.jp</li>
      <li>TEL : 03-6264-3401</li>
    </ul>
    <p class="p-guidance_comment">※大変お手数ですが、「ご注文者様名」「お電話番号」「返品商品」「返品理由」をご記載くださいませ。</p>
    <ul class="p-guidance_lists">
      返送先住所
      <li>中央区銀座3-9-6銀座マトリックスビル5F 株式会社FiNC FiNCストア返品 宛</li>
    </ul>
    <ul class="p-guidance_lists">
      返金方法
      <li>支払い時の方法に準拠します。</li>
      <li>クレジットカードへの返金処理が行われます。</li>
    </ul>
  </div>

  <h3 class="p-guidance_index">お問い合わせ</h3>
  <div class="p-guidance_contents">
    <ul class="p-guidance_lists">
      FiNCストアに関するお問い合わせ先は以下となっております。<br>
      <li>メール : info@finc.co.jp</li>
      <li>営業時間: 月 - 金 10:00 - 17:00</li>
  </div>
</div>