<div class="p-guidance_wrapper">
  <h2 class="p-guidance_title">プライバシーポリシー</h2>

  <div class="p-guidance_contents">
    本プライバシーポリシーは、お客様が株式会社FiNC（以下「当社」といいます。）の運営するサービス（以下「サービス」といいます。）をご利用されたことに伴い、当社が取得したお客様の個人情報の取り扱い方針を定めるものです。<br>
    当社は、サービスをご利用いただくお客様をはじめとする当社に個人情報を提供される全ての方々の個人情報の重要性を認識するとともに、個人情報保護に関する法令及びその他の規範を遵守し、自主的なルール及び体制を確立し、個人情報の保護に細心の注意を払っております。 <br>
    当社が運営するサービスにおいて、個人情報を入力された場合（Facebook、Twitter等のソーシャルネットワークサービスとの連携における認証で当社が取得した個人情報を含みます。）には本プライバシーポリシーに同意したものとみなされますので、本プライバシーポリシーの内容を正確にご理解ください。<br>
    有効期限を超えた分は自動的に消去されますので､ご注意ください｡<br>
    ※期間限定マイルは、上記期間とは異なります。
  </div>

  <h3 class="p-guidance_index">個人情報とは</h3>
  <div class="p-guidance_contents">
    本プライバシーポリシーにおいて、「個人情報」とは生存する個人に関する情報であり、その情報に含まれる氏名、生年月日、Eメールアドレス、また、身長、体重、体脂肪、血液情報、遺伝子情報（代謝等の肥満類型に関する部分に限る）等の身体情報（以下「身体情報」といいます。）、食事の内容、掃除等の日々の生活を含む身体活動情報（以下「身体活動情報」といいます。）、その他の記述、画像若しくは音声又は個人別に付与された番号・記号その他の符号によりその個人を識別できるもの（他の情報と容易に照合することができ、それにより特定の個人を 識別することができることとなるものを含みます。）をいいます。<br>
    また、｢保有個人データ｣とは、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）に定める保有個人データをいいます。<br>
    個人情報の収集 当社では、当社の提供するサービスを利用頂くにあたり、上記の個人情報を収集させて頂く場合があります。これらの個人情報は、下記の利用目的にしたがって、適法かつ公正な手段により 収集させていただきます。<br>
  </div>

  <h3 class="p-guidance_index">「個人情報の利用目的」</h3>
  <div class="p-guidance_contents">
    当社は、お客様の個人情報を以下の目的のために利用させていただきます。<br>
    A. 身体情報と身体活動情報に基づき、対面または電話、メール等による食事指導、運動指導等のカウンセリングサービスに利用するため<br>
    B. 身体情報と身体活動情報に基づき、お客様にとって有益であると当社が判断した情報を提供するため<br>
    C. 身体情報と身体活動情報に関するサーベイを実施し、会社全体、部署ごとの統計的な健康状態、生活習慣、将来の健康状態に関するリスク等の提供、及び改善のためのコンサルテーションを行うため<br>
    D. ニュース・レター及び教材の送信のため<br>
    E. 当社が提供する商品その他のサービスを提供、販売するため<br>
    F. 当社、または当社とサービスを共同して開発、提供する第三者あるいは、当社と共同でキャンペーンを実施する第三者、当社とセミナー等のイベントを共催する第三者、その他パートナー企 業の商品、サービス、キャンペーン等に関する情報を提供するため<br>
    G. 当社のサービスの改善、新サービスの開発、改善を目的とした調査に役立てるため<br>
    H. 当社のサービスに関連して個人を特定できない形に加工した上で、健康や食事、運動等に関するレポートを作成し、学術目的や商業目的での発表やお客様へご案内を行うため<br>
    I. 当社の商品、サービス等のご案内のため<br>
    J. 広告の配信、表示を行うため<br>
    K. お客様からのお問い合わせに回答するサポート業務のため<br>
    L. お客様に当社のサービスの利用料金を請求するため<br>
    M. 当社が定める規約、ポリシー等（以下「規約等」といいます）に違反する行為に対する対応 のため<br>
    N. 規約等の変更などを通知するため<br>
    O. その他上記の利用目的に準ずるか、関連する利用目的のため 個人情報の管理について 当社は、お客様の個人情報の紛失、破壊、改ざん、漏洩等を予防するため、人的、組織的、技術的な対策を総合して対策を行ってまいります。
  </div>

  <h3 class="p-guidance_index">「個人情報の第三者への提供について」</h3>
  <div class="p-guidance_contents">
    1.当社は、下記2に該当する場合を除き、お客様の同意なく個人情報を第三者に提供する開示をすることはありません。<br>
    2.当社は以下の場合には、個人情報を第三者に提供できるものとします。<br>
      (1)法令により情報の開示が求められる場合<br>
      (2)人の生命、身体または財産の保護のために必要があると当社が判断した場合<br>
      (3)国、地方公共団体、またその委託を受けた者の業務遂行に協力するため<br>
      (4)お客様が当社に払う料金の決済を行う際に、金融機関、回収代行業者その他決済またはその代行を行う会社に開示する場合<br>
      (5)合併、会社分割、事業譲渡その他の事由による承継の際、事業を承継する者に対して開示する場合<br>
      (6)業務遂行に必要な限度で個人情報の取扱いを委託する場合<br>
      (7)個人情報保護法の定めに基づき共同利用する場合<br>
  </div>

  <h3 class="p-guidance_index">「個人情報の委託について」</h3>
  <div class="p-guidance_contents">
    当社は、上記利用目的の達成に必要な範囲で、個人情報の取扱いを外部に委託する場合があります。その場合には、個人情報の保護に十分な措置を講じている者を選定し、委託先に対して必要かつ適切な監督を行います。
  </div>

  <h3 class="p-guidance_index">「cookieの使用について」</h3>
  <div class="p-guidance_contents">
    当社は、サイトをご利用の際にcookieと呼ばれる情報をご利用のコンピューターに送る場合があり、その情報はハードディスクまたはメモリーに保存されます。cookieはアクセス情報の統計処理など、より良いサービスを提供する目的で使用するものであり、利用者様のプライバシー、 または利用環境を侵すことはありません。また、いかなる場合においてもアクセスした方を個別に識別できる状態で情報公開することはありません。
  </div>

  <h3 class="p-guidance_index">「プライバシーポリシーの更新について」</h3>
  <div class="p-guidance_contents">
    当社は、お客様に通知をすることなく本プライバシーポリシーを更新する場合があります。お客様は本プライバシーポリシーをご理解いただき、サイト上にて更新状況を確認いただくようお願いします。
  </div>

  <h3 class="p-guidance_index">「個人情報の取り扱いに関する相談および苦情」</h3>
  <div class="p-guidance_contents">
    当社の個人情報の取扱いに関する相談および苦情については、受け付け次第、適切、かつ、迅速な対応をいたします。また、その体制、手順については確立・整備をおこない、常に適切に対応出来る体制を維持していきます。
  </div>

  <h3 class="p-guidance_index">「個人情報の取り扱いに関する相談および苦情窓口」</h3>
  <div class="p-guidance_contents">
    〒104-0061 東京区中央区銀座3-9-6　 銀座マトリックスビル5階<br>
    株式会社FiNC 個人情報保護管理事務局<br>
    電話：03-6264-3401（平日10：00∼17：00）<br>
    E-mail：info@finc.co.jp<br>

    制定年月日：平成25年3月11日<br>
    改定年月日：平成27年1月30日<br>
  </div>

</div>