<div class="p-guidance_wrapper">
  <h2 class="p-guidance_title">特定商取引法に基づく表示</h2>

  <h3 class="p-guidance_index">販売業者の名称</h3>
  <div class="p-guidance_contents">
    株式会社FiNC
  </div>

  <h3 class="p-guidance_index">販売業者の住所</h3>
  <div class="p-guidance_contents">
    〒104-0061　東京都中央区銀座3-9-6 銀座マトリックスビル5階
  </div>

  <h3 class="p-guidance_index">販売業者の連絡先</h3>
  <div class="p-guidance_contents">
    電話：03-6264-3401（平日10：00∼17：00）<br>
    E-mail：info@finc.co.jp
  </div>

  <h3 class="p-guidance_index">代表者</h3>
  <div class="p-guidance_contents">
    代表取締役社長CEO  溝口 勇児
  </div>

  <h3 class="p-guidance_index">商品およびサービスの価格</h3>
  <div class="p-guidance_contents">
    商品およびサービスごとに表示
  </div>

  <h3 class="p-guidance_index">商品代金以外の必要金額</h3>
  <div class="p-guidance_contents">
    ・消費税<br>
    ・配送料
  </div>

  <h3 class="p-guidance_index">支払方法</h3>
  <div class="p-guidance_contents">
    クレジットカード（Visa、MasterCard、JCB、AMEX、Diners）
  </div>

  <h3 class="p-guidance_index">支払期限</h3>
  <div class="p-guidance_contents">
    ご利用のクレジットカードの締め日や契約内容により異なります。ご利用されるカード会社までお問い合わせください。
  </div>

  <h3 class="p-guidance_index">商品の返品・交換について</h3>
  <div class="p-guidance_contents">
    以下の場合に返品を受け付けます。<br>
    ・お客様が誤って注文し、弊社発送前にキャンセルの旨を弊社に連絡頂いた場合<br>
    ・注文内容と異なる商品が届いた場合<br>
    ・商品に不備があったり、破損していた場合。<br>
    ・返品が必要な場合には、商品到着後、10日以内にお客様より返品をしたい旨の連絡を行うことが必要となります。<br>
    ※ 商品発送後のお客様都合による返品は不可となります。
  </div>

  <h3 class="p-guidance_index">返金時のマイルの扱いについて</h3>
  <div class="p-guidance_contents">
    ・マイルを利用して購入した商品を返金する場合には、まずはご利用いただいた分のマイルを返還し、お支払い総額と返還したマイルとの差額が発生する場合は返金を行います。<br>
    ・例）A商品(100円)＋B商品(10,000円)を購入。うち200mile使用した場合。<br>
    1. 商品Aをキャンセル→100mileをお返し<br>
    2. 商品Bをキャンセル→200mile＋9,800円の返金<br>
    ・ただし10,000円未満は送料が発生するため、カードから追加で送料500円分の引き落とし処理となります。<br>
    ・送料につきましてはマイル利用対象外となります。
  </div>

  <h3 class="p-guidance_index">返品の手順について</h3>
  <div class="p-guidance_contents">
    1. メール もしくは TEL にて返品希望の旨、返品の理由を弊社まで事前にお知らせください。<br>
    2. 注文履歴ページの返品フォームに記入していただくことも可能です。<br>
    3. その後、お手数ですが着払いで弊社まで返送をお願い致します。<br>
    【連絡先】<br>
    　メール: info@finc.co.jp<br>
    　TEL : 03-6264-3401<br>
    　※大変お手数ですが、「ご注文者様名」「お電話番号」「返品商品」「返品理由」をご記載くださいませ。<br>
    【返送先住所】<br>
    　中央区銀座3-9-6銀座マトリックスビル5F FiNC store返品 宛<br>
  </div>

  <h3 class="p-guidance_index">返金について</h3>
  <div class="p-guidance_contents">
    ・返金方法お支払い後のキャンセル処理については、発行カード会社ごとに対応が異なりますが、キャンセルデータ到着後のご返金となります。<br>
    ・一度返金されても再度引落しになる可能性があります。その場合、キャンセルデータが処理されましたら必ず返金となりますのでご安心ください。
  </div>

</div>