<%= form_for([:admins, product]) do |p| %>

<div class="box-body col-md-6">
	<div class="form-group">
		<%= p.label :name %><br>
		<%= p.text_field :name, class: "form-control", placeholder: "Enter email" %>
	</div>
	<div class="form-group">
		<%= p.label :description %><br>
		<%= p.text_field :description, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= p.label :product_is_valid_at %><br>
		<%= p.date_select :is_valid_at,{},{:class=>"form-control"} %>
	</div>
	<div class="field">
		<%= p.label :product_is_invalid_at %><br>
		<%= p.date_select :is_invalid_at,{},{:class=>"form-control"} %>
	</div>

  <%= p.fields_for :variants do |v| %>
    <div class="field">
      <%= v.label :sku %><br>
      <%= v.text_field :sku, class: "text" %>
    </div>
    <div class="field">
      <%= v.label :variant_is_valid_at %><br>
      <%= v.date_field :is_valid_at, value: Date.today %><br/>
    </div>
    <div class="field">
      <%= v.label :variant_is_invalid_at %><br>
      <%= v.date_field :is_invalid_at, value: Date.today %><br/>
    </div>
    <div class="field">
      <%= v.select :order_type, {t('order_type.single_order') => "single_order", t('order_type.subscription_order') => "subscription_order"} %>
    </div>
  <% end %>

	<%= p.fields_for :prices do |pri| %>
	<div class="form-group">
		<%= pri.label :amount %><br>
		<%= pri.text_field :amount, class: "form-control" %>
	</div>
	<% end %>

	<div class="actions">
		<%= p.submit "登録", class: "btn" %>
	</div>
</div>

<% end %>
<%= t('order_type.single_order') %>