<%= form_for([:admins, product]) do |p| %>

  <div class="field">
    <%= p.label :name %><br>
    <%= p.text_field :name, class: "text" %>
  </div>
  <div class="field">
    <%= p.label :description %><br>
    <%= p.text_field :description, class: "text" %>
  </div>
  <div class="field">
    <%= p.label :product_is_valid_at %><br>
    <%= p.date_select :is_valid_at, class: "form-control" %>
  </div>
  <div class="field">
    <%= p.label :product_is_invalid_at %><br>
    <%= p.date_select :is_invalid_at, class: "form-control" %>
  </div>

  <%= p.fields_for :variants do |v| %>
    <div class="field">
      <%= v.label :sku %><br>
      <%= v.text_field :sku, class: "text" %>
    </div>
    <div class="field">
      <%= v.label :variant_is_valid_at %><br>
      <%= v.date_select :is_valid_at, class: "form-control" %>
    </div>
    <div class="field">
      <%= v.label :variant_is_invalid_at %><br>
      <%= v.date_select :is_invalid_at, class: "form-control" %>
    </div>
    <div class="field">
      <%= v.select :order_type, {"定期購入" => "subscription_order", "単品購入" => "single_order"} %>
    </div>

  <% end %>

  <%= p.fields_for :prices do |pri| %>
    <div class="field">
      <%= pri.label :amount %><br>
      <%= pri.text_field :amount, class: "text" %>
    </div>
  <% end %>

  <div class="actions">
    <%= p.submit "登録", class: "submit" %>
  </div>

<% end %>