<section class="content col-md-2 float-right">
<ul class="nav nav-pills nav-stacked">
  <li <%= 'class=active' if request.fullpath == admins_product_path(product.id)  %>>
    <a href="<%= admins_product_path(product.id) %>">商品詳細</a>
  </li>
  <li <%= 'class=active' if request.fullpath == admins_product_variants_path(product.id)  %>>
    <a href="<%= admins_product_variants_path(product.id)%>">SKU一覧</a>
  </li>
</ul>
</section>
