<div class = "content-header">
  <h3>
    <%= link_to "商品一覧", admins_products_path %> / <%= @product.name %>
    <div class="u-float_right">
      <a href="<%= new_admins_product_path %>" class="btn btn-primary">商品追加</a>
    </div>
  </h3>
</div>

<section class="content col-md-9">
  <%= render partial: 'form', locals: { product: @product } %>
</section>

