<section class="content-header">
<h1>
  商品管理
  <div class="u-float_right">
    <a href="<%= new_admins_product_path %>" class="btn btn-primary btn">商品追加</a>
  </div>
</h1>
</section>
<section class="content">
<h4 class="box-title">検索</h4>
<h4 class="box-title">注文リスト</h4>
<div class = "content">
  <% if !@products.blank? %>
  <table class = "table">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>説明</th>
        <th>有効期限</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><a href="<%= admins_product_path(id: product.id) %>"><%= product.name %></a></td>
        <td><%= product.description %></td>
		<td></td>
        <td>
			<a href="<%= %>" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
			<a href="<%= %>" class="btn btn-danger btn-sm"><i class="fa  fa-trash"></i></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p>現在商品は登録されていません</p>
  <% end %>
</div>


</section>

